<div>
  <h1><span class="col-xs-8">Home</span> <a class="col-xs-4" color="accent" mat-raised-button href="/Album/Create">Create Album</a></h1>

  <section id="album-list" class="col-xs-12 album-list">

    <table matSort *ngIf="albums else loading" (matSortChange)="sortAlbums($event)" class="col-xs-12">
      <tr>
        <th mat-sort-header="name">Album</th>
        <th mat-sort-header="type">Type</th>
        <th mat-sort-header="artist">Artist</th>
        <th mat-sort-header="stock">Stock</th>
        <th></th>
      </tr>

      <tr *ngFor="let album of sortedAlbums">
        <td class="col-xs-3">
          <span class="d-none d-sm-block">{{album.Name}}</span>
          <a class="d-block d-sm-none" href="/Album/Detail/{{album.Id}}">{{album.Name}}</a>
        </td>
        <td> {{album.Type}} </td>
        <td class="col-xs-3"> {{album.Artists[0].Name}} </td>
        <td> {{album.Inventory.Stock}}</td>
        <td> <a class="d-none d-sm-block" color="primary" mat-raised-button href="/Album/Detail/{{album.Id}}">Edit</a> </td>
        <td> <button class="d-none d-md-block" mat-raised-button color="warn" (click)="deleteAlbum(album)">Delete</button> </td>
      </tr>
      <tr>
        <td colspan="6">
          <mat-paginator [length]="totalAlbums"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         (page)="pageEvent = getAlbumsPage($event)">
          </mat-paginator>
        </td>
      </tr>
    </table>

    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </section>
</div>
